.root {
}
.side_review_bg {
    @apply fixed top-0 left-0 w-full h-screen bg-c_00080D bg-opacity-40 z-20;
}
.side_review_body {
    @apply fixed right-0 top-15 z-40 flex flex-col bg-white ml-auto w-full md:w-125;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    height: calc(100vh - 60px);
    box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.05);
} 